@import './variables.scss';

* {
	margin: 0;
	font-size: 10px;
	box-sizing: border-box;
};

body {
	background: linear-gradient(45deg, rgba(255, 125, 255, 0.7), rgba(150, 200, 255, 0.7)), url('./assets/lazy_camera_girl-orEnWh0zdyw-unsplash.jpg');
	background-size: cover, cover;
	background-repeat: no-repeat, no-repeat;
}

.app {
	@include fill-screen-bottomless;
}
